
/* CSS Reset */

* {
    margin: 0;
    padding: 0;
}
 *, *::after, *::before {
    box-sizing: border-box;
}

body {
    background: #f0f0f0;
}
nav {
    max-width: 1900px;
    height: 100px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
}
main {
    max-width: 1900px;
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
}

/* Cabinet */

.cabinet {
    width: 400px;
    height: 600px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#door-opening-left {
    width: 5px;
    height: 600px;
    background-color: darkgrey;
}
#door-opening-right {
    width: 5px;
    height: 600px;
    background-color: darkgrey;
}

.left {
    cursor: pointer;
}
.right {
    cursor: pointer;
}

.shelf {
    width: 380px;
    height: 180px;
    background-color: darkgrey;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/* Coffe Machine */

.coffee-machine {
    width: 800px;
    height: 800px;
    background-color: grey;
    margin: 0 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.upper-part {
    width: 800px;
    height: 400px;
}

/* Selection */

.selection {
    width: 800px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    width: 400px;
    height: 160px;
    border-radius: 20px;
    border: 10px solid darkgrey;
    background-color: rgb(75, 75, 75);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.select {
    width: 120px;
    height: 120px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.screen-on {
    background-color: rgb(185, 185, 185);
}

.select h3 {
    user-select: none;
    cursor: pointer;
}

/* Controls */

.controls {
    width: 800px;
    height: 200px;
    display: flex;
    background-color: silver;
}

/* Controls: Power button */
.power {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
}

.on-off-button {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 10px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.on-sign, .dish-on-sign {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid white;
}

/* Controls: Control lights */
.control-lights {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.row {
    display: flex;
    align-items: center;
}

.small-led {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid grey;
    margin: 0 5px;
}
.on {
    background-color: gold;
}

.bar {
    width: 60px;
    height: 10px;
    background-color: cadetblue;
}

.second-bar {
    width: 20px;
    height: 10px;
    background-color: cadetblue;
    margin-left: 2px;
}

/* Bottom part of the machine */

.bottom-part {
    width: 800px;
    height: 400px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.mug-container {
    width: 400px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.opening {
    top: 0px;
    width: 80px;
    height: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: grey;
}
.liquids {
    width: 40px;
    height: 90px;
    background-color: black;
    text-align: center;
}
.liquid-coffee {
    border-left: 5px solid brown;
}
.liquid-milk {
    border-right: 5px solid white;
}
.liquids h3 {
    color: white;
    padding-top: 1rem;
}

/* Mugs and containers */

.mug {
    position: relative;
    width: 120px;
    height: 160px;
    margin-right: 56px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#machine-mug {
    margin-right: 0;
}

.do-magic-label {
    width: 120px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
    background: rgb(231,66,125);
    background: linear-gradient(39deg, rgba(231,66,125,1) 0%, rgba(110,232,230,1) 50%, rgba(255,93,0,1) 100%);  
}
.take-away {
    animation: takeAway 1.5s;
}

@keyframes takeAway {
    0%     {    transform: scale(1); opacity: 1;}
    100%   {    transform: scale(2); opacity: 0;}
}

.mug-ear {
    position: absolute;
    left: 70px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid white;
}

.mug-label {
    width: 100px;
    height: 90px;
    z-index: 100; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
}

.jug-color {
    background-color: cadetblue;
}

.jug-border {
    border-color: cadetblue;
}

.water {
    background-color: cornflowerblue;
}

.beans {
    background-color: darkred;
}

.milk {
    background-color: white;
}

.mug h3 {
    z-index: 200;
    user-select: none;
    cursor: pointer;
}

/* Ground */
.table {
    width: 1900px;
    min-height: 25px;
    border: 10px solid black;
    margin: 0 auto;
}


/* Dishwasher */
.dishwasher {
    width: 600px;
    height: 650px;
    background: grey;
    margin: 0 auto;
    padding: 10px;
}

.dish-controls {
    background: darkgrey;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 30px;
}
.dishwasher p {
    font-size: 1.5rem;
}

.start-button {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 10px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Achievements and Rewards */
.rewards {
    display: flex;
}
.rewards i {
    color: darkgrey;
    font-size: 4rem;
    margin: 2px;
}
.rewards i.done {
    color: cadetblue;
}
.rewards i.shine-up {
    animation: shineUp 1s;
}
@keyframes shineUp {
    0% {    transform: scale(1);}
    50% {   transform: scale(2);}
    100% {  transform: scale(1);}
}

.rewards:hover .achievement-texts {
    display: flex;
    flex-direction: column;
}

.achievement-texts {
    position: absolute;
    top: 80px;
    right: 10px;
    width: 180px;
    display: none;
}
.achievement-texts p {
    padding: 5px;
    margin-top: 3px;
    border: 1px solid grey;
}

/* Counter Display */
.counter-display {
    background: darkgrey;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 5px;
}

.counter-display h4 {
    padding: 0.5rem;
}

.trophies {
    display: flex;
    margin-top: 10px;
    position: relative;
}

.trophies i {
    font-size: 3rem;
    margin: 2px;
    color: darkgrey;
}

.trophies i.done {
    color: goldenrod;
}
.trophies i.shine-up {
    animation: shineUp 1s;
}

.trophies p{
    display: none;
    position: absolute;
    top: 55px;
}
.first-trophy-container:hover .first-trophy-text, .second-trophy-container:hover .second-trophy-text, .third-trophy-container:hover .third-trophy-text  {
    display: flex;
}

/* Awards */
.star-awards {
    display: flex;
}
.star-awards i {
    color: darkgrey;
    font-size: 3rem;
}
.star-awards i.done {
    color: gold;
}
.star-awards i.shine-up {
    animation: shineUp 1s;
}
.star-awards i.done:hover {
    animation: spin 3s;
}
@keyframes spin {
    0 %     {transform: rotate(0deg); transform-origin: center center;}
    100%    {transform: rotate(359deg); transform-origin: center center;}
}
.star-awards p {
    display: none;
    position: absolute;
    top: 65px;
}

.first-star-container:hover .first-star-text, .second-star-container:hover .second-star-text, .third-star-container:hover .third-star-text  {
    display: flex;
}

/* Specials */
.hidden {
    display: none;
}
.non-visible {
    visibility: hidden;
}
